@import url('https://fonts.googleapis.com/css2?family=Cuprum:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&family=Nunito:ital,wght@0,200;0,300;0,400;1,200;1,300;1,400&family=Open+Sans+Condensed:ital,wght@0,300;0,700;1,300&family=Orbitron:wght@400;500;600;700;800;900&family=Oswald:wght@200;300;400;500;600;700&family=PT+Mono&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:wght@400;700;900&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&family=Vollkorn:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


/* Body Styles */
body {
    margin: 0px;
    font-family: 'Noto Sans', sans-serif;
    background-color: rgba(63, 66, 77, 0.986);
    color: white;
}

/* Login Styles */

#loginAreaDiv {
    display: flex;
    margin: 3%;
    border-radius: 16px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#loginImageDiv {
    width: 30%;
    height: 10vh;
    padding: 8% 20% 32% 20%;
    font-family: 'Orbitron', sans-serif;
    background-image: url("../images/loginImg3.png");
    border-radius: 16px 0 0 16px;
}

#loginImageText {
    font-size: 120px;
    margin-bottom: 5%;
}

#trinInitTagline {
    font-size: 25px;
}

#loginFormDiv {
    padding: 6% 6% 6% 8%;
    text-align: center;
}

#loginText {
    font-size: 50px;
    padding-bottom: 0%;
}

#createUserText {
    font-size: 50px;
    padding-bottom: 0%;
    margin-top: 0%;
}

.loginTextInput {
    border: none;
    background-color: transparent;
    outline: none;
    color: white;
    border-bottom: rgb(172, 172, 172) 1px solid;
    padding: 7%;
    margin: 0% 0 10% 0;
}

.loginTextInput:focus {
    border-bottom: white 1px solid;
}

#linkText {
    font-size: 10px;
    color: rgb(172, 172, 172);
    cursor: pointer;
    transition: 0.3s;
}

#linkText:hover { 
    color: #69FF97;
}

#loginMessage {
    font-size: 15px;
}

#loginSubmit {
    width: 100%;
    padding: 5% 5% 5% 5%;    
    margin-top: 5%;
    font-size: 20px;
    background-color: transparent;
    border-radius: 5px;
    border: none;
    outline: none;
    border: 1px #69FF97 solid;
    color: #69FF97;
    cursor: pointer;
    transition: 0.3s;
}

#loginSubmit:hover {
    color: #386947;
    background-color: #69FF97;
}

/* Profile styles */

#siteBanner {
    display: flex;
    padding-bottom: 0.5%;
    padding-top: 0.8%;
    align-items: center;
    background-color: rgba(63, 66, 77, 0.986);
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%), 0 -4px 20px 0 rgb(0 0 0 / 20%);
    position: sticky;
    top: 0;
}

#trinInitLogoText {
    margin: 0 0 0 3%;
    font-size: 40px;
    font-family: 'Orbitron', sans-serif;
    cursor: pointer;
}

#searchProjectsFormBannerDiv {
    margin-left: 15%;
}

#searchProjectsFormBanner {
    display: flex;
}

#searchProjectsBannerInput {
    padding: 4% 20% 4% 8%;
    width: 38vw;
    height: 0vw;
    font-size: 20px;
    background-color: rgba(0, 0, 0, 0.178);
    color: white;
    border: none;
    outline: none;
    border-radius: 5px;
}

#submitSearchBtnDiv {
    width: 1.5%;
    margin: 0 2% 0 1%;
}

#searchBtn {
    padding: 50% 50% 50% 50%;
    font-size: 20px;
    background-color: transparent;
    border-radius: 5px;
    border: none;
    border: 1px #69FF97 solid;
    color: #69FF97;
    cursor: pointer;
    transition: 0.3s;
}

#searchBtn:hover {
    color: #386947;
    background-color: #69FF97;
}

#logoutBtnDiv {
    width: 2%;
    margin-left: 15%;
}

#logoutBtn {
    padding: 10% 10% 10% 10%;
    font-size: 20px;
    background-color: transparent;
    border-radius: 5px;
    border: none;
    color: rgb(172, 172, 172);
    cursor: pointer;
    transition: 0.3s;
}

#logoutBtn:hover {
    color: #69FF97;
}

#toProfileDiv {
    display: flex;
    margin-left: 1%;
    align-items: center;
    cursor: pointer;
}

#profileImageDivBanner {
    /* width:20%; */
    width: 3em;
}

#profileImgBanner {
    width: 100%;
    border-radius: 50%;
}

#usernameDisplayDivBanner {
    margin-left: 5%;
}

#usernameDisplay {
    font-size: 15px;
    color: white;
    text-decoration: underline;
}

#usernameDisplay:hover {
    color: #69FF97;
}

#profileBody {
    display: flex;
    margin: 2% 10% 0 10%;
}

#leftProfileDiv {
    background-color: rgba(0, 0, 0, 0.178);
    padding: 2%;
    width: 25%;
    height: 70vh;
    border-radius: 5px;
    position: sticky;
    top: 15%;
}

#leftProfileImageDiv {
    text-align: center;
}

#leftProfileImg {
    width: 70%;
    border-radius: 50%;
}

#leftProfileInfoDiv {
    padding-left: 25%;
}

.leftProfileInfoWrapper {
    margin: 15% 0% 15% 0%;
}

.profileMainSubheader1 {
    font-size: 20px;
    margin-top: 1%;
    margin-bottom: 1%;
}

.profileMainSubheader2 {
    font-size: 15px;
    margin: 0px;
    font-weight: 100;
    color:rgb(172, 172, 172);
}

#editProfileBtnDiv {
    margin: 10% 0 2% 0;
    text-align: center;
}

#editProfileBtn {
    margin-top: 10%;
    padding: 6% 15% 6% 15%;
    font-size: 15px;
    background-color: transparent;
    border-radius: 5px;
    border: none;
    border: 1px #69FF97 solid;
    color: #69FF97;
    cursor: pointer;
    transition: 0.3s;
}

#editProfileBtn:hover {
    color: #386947;
    background-color: #69FF97;
}

#middleProfileDiv {
    margin: 0 2% 2% 2%;
    padding-bottom: 2%;
    width: 110%;
    background-color: rgba(0, 0, 0, 0.178);
    border-radius: 5px;
}

#myProjectSecTitleDiv {
    padding: 1% 0 1% 0;
    text-align: center;
    border-radius: 5px;
}

#myProjectSecTitle {
    margin: 0%;
    font-size: 30px;
}

hr {
    width: 91%;
}

.ProjListing {
    background-color: transparent;
    margin: 5% 4% 0% 4%;
    padding: 0.5% 2% 0% 2%;
    border: 1px solid rgb(172, 172, 172);
}

.ProjListingTitleDiv {
    display: flex;
    margin-top: 2%;
    align-items: baseline;
}

.ProjListingTitle {
    margin: 0%;
    font-size: 25px;
    cursor: pointer;
}

.ProjListingCreator {
    margin: 0% 0% 0% 1%;
    color: rgb(172, 172, 172);
    cursor: pointer;
}

.ProjListingDesc {
    /*do font stuff */
}

.ProjListingEngagementDiv {
    display: flex;
    align-items: center;
    color: rgb(172, 172, 172);
    cursor: pointer;
}

.vl {
    height: 1em;
    margin: 0% 1% 2% 1%;
    border-left: 1px solid rgb(172, 172, 172);
}

.ProjListingEngagementInfo {
    margin-top: 0%;
}

#rightProfileDiv {
 /* Here if needed */
}

#profileInterestsDiv {
    background-color: rgba(0, 0, 0, 0.178);
    margin-bottom: 10%;
    padding: 5% 7% 5% 7%;
}

#profileSkillsDiv {
    background-color: rgba(0, 0, 0, 0.178);
    padding: 5% 7% 5% 7%;
}

.profileMainSubheader3 {
    font-size: 20px;
    margin-top: 1%;
    margin-bottom: 5%;
}

/* Main Styles */

#mainBody {
    display: flex;
    background: transparent;
}

#leftMainDiv {
    background-color: rgba(0, 0, 0, 0.178); 
    padding: 2%;
    width: 15%;
    height: 81vh;
    position: sticky;
    top: 9%;
}

#myProjectsMainTitleDiv {
    display: flex;
    padding-bottom: 3%;
}

#addProjectMainBtnDiv{
    width:30%;
}

#addProjectMainBtn {
    margin: 2% 0% 0 30%;
    padding: 5% 10% 5% 10%;
    font-size: 20px;
    background-color: transparent;
    border-radius: 5px;
    border: none;
    border: 1px #69FF97 solid;
    color: #69FF97;
    cursor: pointer;
    transition: 0.3s;
}

#addProjectMainBtn:hover {
    color: #386947;
    background-color: #69FF97;
}

#myProjectsMainListDiv {
    padding-bottom: 10%;
}

.mainSubheader1 {
    margin: 0;
    color: white;
    font-size: 23px;
}

#likedProjectsMainTitleDiv {
    padding-bottom: 3%;
}

#likedProjectsMainListDiv {
    padding-bottom: 10%;
}

.mainSubheader2 {
    margin: 1%;
    color: rgb(172, 172, 172);
    cursor:pointer;
}

#rightMainDiv {
    padding-left: 3%;
    width: 200vh;
    margin-bottom: 2%;
}

/* Create Project Styles */

#createProjDiv {
    margin: 2% 20% 2% 20%;
    padding: 1% 2% 2% 2%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.createProjSecTitle {
    margin: 0;
}

#createProjLine {
    width: 100%;
}

.newProjectPrompt {
    color:rgb(172, 172, 172);
}

#newProjectTitleInput {
    padding: 2% 20% 2% 2%;
    font-size: 15px;
    background-color: rgba(0, 0, 0, 0.178);
    color: white;
    border: none;
    outline: none;
    border-radius: 5px;
}

#newProjectDescInput {
    padding: 2% 20% 2% 2%;
    font-size: 15px;
    font-family: 'Noto Sans', sans-serif;
    background-color: rgba(0, 0, 0, 0.178);
    color: white;
    border: none;
    outline: none;
    border-radius: 5px;
}

#newProjectCollabInput {
    padding: 2% 20% 2% 2%;
    font-size: 15px;
    font-family: 'Noto Sans', sans-serif;
    background-color: rgba(0, 0, 0, 0.178);
    color: white;
    border: none;
    outline: none;
    border-radius: 5px;
}

#createNewProjectBtn {
    margin: 5% 0% 0 0%;
    padding: 2% 5% 2% 5%;
    font-size: 15px;
    background-color: transparent;
    border-radius: 5px;
    border: none;
    border: 1px #69FF97 solid;
    color: #69FF97;
    cursor: pointer;
    transition: 0.3s;
}

#createNewProjectBtn:hover {
    color: #386947;
    background-color: #69FF97;
}

/* Project View Styles */

#projectViewDiv {
    margin: 1.5% 2% 0 2%;
    padding: 1% 3% 1% 3%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#projectViewTitle {
    /* for fonts */
    font-size: 30px;
    margin-bottom: 1%;
}

#projectViewUserInfoDiv {
    display: flex;
    cursor: pointer;
}

#projectViewUserImgDiv {
    width: 4%;
}

#projectViewUserImg {
    width: 70%;
    border-radius: 50%;
}

#projectViewUserNameDiv {
    margin-left: -0.5%;
}

#projectViewUserName {
    font-size: 15px;
}

#projectViewUserName:hover {
    color: #69FF97;
}

#projectUserInteractionDiv {
    display: flex;
}

#projectInterestBtnDiv {
    margin: 1% 1% 1% 0%;
}

#projectInterestBtn {
    margin: 2% 0% 0 30%;
    padding: 20% 25% 20% 25%;
    font-size: 20px;
    background-color: transparent;
    border-radius: 5px;
    border: none;
    border: 1px #69FF97 solid;
    color: #69FF97;
    cursor: pointer;
    transition: 0.3s;
}

#projectInterestBtn:hover {
    color: #386947;
    background-color: #69FF97;
}

#projectLikeBtnDiv {
    margin: 1% 0% 1% 0%;
}

#projectViewLikeBtn {
    margin: 2% 0% 0 30%;
    padding: 20% 25% 20% 25%;
    font-size: 20px;
    background-color: transparent;
    border-radius: 5px;
    border: none;
    border: 1px #69FF97 solid;
    color: #69FF97;
    cursor: pointer;
    transition: 0.3s;
}

#projectViewLikeBtnFilled {
    margin: 2% 0% 0 30%;
    padding: 20% 25% 20% 25%;
    font-size: 20px;
    border-radius: 5px;
    border: none;
    border: 1px #69FF97 solid;
    color: #386947;
    background-color: #69FF97;
    cursor: pointer;
    transition: 0.3s;
}

#projectViewLikeBtn:hover {
    color: #386947;
    background-color: #69FF97;
}


#projectViewDescDiv {
    margin-bottom: 1.5%;
}

#projectViewDesc {
    /* for font styles */
}

#collaboratorPrompt {
    font-size: 20px;
}

.collaboratorName {
    text-decoration: underline;
    cursor: pointer;
}

.collaboratorName:hover {
    color: #69FF97;
}

#commentInputHeader {
    font-size: 20px;
}

#commentInputDiv {
    display: flex;
}

#commentInput {
    padding: 1% 0% 0% 1%;
    font-size: 15px;
    font-family: 'Noto Sans', sans-serif;
    margin-bottom: 1%;
    background-color: rgba(0, 0, 0, 0.178);
    color: white;
    border: none;
    outline: none;
    border-radius: 5px;
}

#commentSendBtn {
    margin: 0% 0% 1% 2%;
    padding: 1% 1% 1% 1%;
    font-size: 20px;
    background-color: transparent;
    border-radius: 5px;
    border: none;
    border: 1px #69FF97 solid;
    color: #69FF97;
    cursor: pointer;
    transition: 0.3s;
}

#commentSendBtn:hover {
    color: #386947;
    background-color: #69FF97;
}

#commentHr {
    width: 100%;
}

#commentSecHeader {
    font-size: 20px;
}

.commentCardDiv {
    margin: 0% 2% 0% 2%;
}

.commentSender {
    font-size: 15px;
    cursor: pointer;
}

.commentSender:hover {
    color: #69FF97;
}

.commentContent {
    /* fontstyling */
}

.sendTime {
    color:rgb(139, 139, 139);
}
